<nav class="navbar navbar-expand-lg navbar-light header">
    <% if user_signed_in? %>
        <%= link_to posts_path,class:"navbar-brand" do %>
            Find Parking for Bicycle
        <% end %>
    <% else %>
        <%= link_to root_path,class:"navbar-brand" do %>
            Find Parking for Bicycle
        <% end %>
    <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="nav navbar-nav mr-auto  ">
        <li class="nav-item ">
            <%= link_to pages_about_path,class:"nav-link" do %>Find Parking for Bicycleとは
            <% end %>
        </li>
    </ul>
    <ul class=" nav navbar-nav ">
        <% if current_user %>
            <li class=" nav-item ">
                <%= link_to  new_post_path, class: "nav-link " do %>
                    <i class="fas fa-edit fa-lg"></i> 新規投稿
                <% end %>
            </li>
            <li class=" nav-item ">
                <%= link_to  user_path(current_user), class: "nav-link " do %>
                    <i class="fas fa-user-circle fa-lg"></i> プロフィール
                <% end %>
            </li>
            <li class=" nav-item ">
                <%= link_to  destroy_user_session_path,method: :delete, class: "nav-link " do %>
                    <i class="fas fa-sign-out-alt fa-lg"></i></i> ログアウト
                <% end %>
            </li>
        <% else %>
            <li class=" nav-item ">
                <%= link_to  new_user_registration_path, class: "nav-link " do %>
                    <i class="fas fa-user fa-lg"></i> 新規登録
                <% end %>
            </li>
            <li class="nav-item ">
                <%= link_to  new_user_session_path, class: "nav-link " do %>
                    <i class="fas fa-sign-in-alt fa-lg"></i></i> ログイン
                <% end %>
            </li>
        <% end %>
    </ul>
  </div>
</nav>