<h1 class="text-center my-5 border-bottom" > 投稿一覧<%= @posts.count %></h1>
<% @posts.each do |post| %>
  <div class="card text-center  mx-center mx-auto col-md-6 my-5">
    <div class="card-body ">
      <%= link_to post_path(post) do %>
        <%= image_tag post.photos.first.image.url(:medium) %>
      <% end %>
      <table class="table justify-content-center">
      <tbody>
        <tr>
          <th scope="row">所在地</th>
            <td><%= post.where %></td>
        </tr>
        <tr>
          <th scope="row">最寄駅</th>
          <td><%= post.station %></td>
        </tr>
        <tr>
          <th scope="row">料金</th>
          <td><%= post.price %></td>
        </tr>
        
      </tbody>
    </table>
      <div class="border-top pt-3">
        <%= link_to "#" do %>
          <i class="far fa-thumbs-up mr-3 "></i>
        <% end %>
        
        <%= link_to "#" do %>
          <i class="far fa-comment mr-3 "></i>
        <% end %>
        
      </div>
    </div>
    
  </div>
    
  
<% end %>