<div class="card text-center  mx-center w-auto my-5 ">
  <div class="card-header">
    <strong>新規投稿</strong>
  </div>
  <div class="card-body w-auto">
    <%= form_with model: @post do |f| %>

      <div class="my-3">
        <%= f.fields_for :photos do |i| %>
          <div>
            <%= i.label :画像をアップロード（必須） %>
          </div>
          <%= i.file_field :image,class:"btn btn-success" %>
            
        <% end %>
      </div >

      <div class="my-2">
        <%= f.label :所在地（必須） %>
      </div>
        <%= f.text_field :where ,size: 50,placeholder:"都道府県、市区町村など", class: "form-control" %>

      <div class="my-2">
        <%= f.label :最寄駅（必須） %>
      </div>
        <%= f.text_field :station,size: 50,placeholder:"○○駅",class: "form-control" %>

      <div class="my-2">
        <%= f.label :料金（必須） %>
      </div>
        <%= f.text_field :price,size: 50,placeholder:"無料or有料(○○円)",class: "form-control" %>

      <div class="my-2">
        <%= f.label :説明（任意） %>
      </div>
        <%= f.text_field :explanation,size: 50,placeholder:"駐輪場の広さ、場所の説明、屋根の有無など",class: "form-control" %>
      
      <div class="my-3">
        <%= f.submit "投稿",class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
